doctype html
head
  title Home
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='Home.css')
  style.
    body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url("../poker-casino-chips-border-background-112366723.jpg"); */
    /* background-size: 100% 155%;  */
    background-image: url("../christmas-poker-532125561-577a3b493df78cb62cd2fb20.png");
    background-size: 100%;
    background-color: rgb(51, 51, 214);
    }
    button{
    background-color: #1d4ed8;
    font-size: 2rem;
    display: block;
    margin: auto;
    width: 50%;
    height: 2em;
    }
    #login{
    position: relative;
    top: 7px;
    }
    h1{
    transition: all 0.5s;
    -webkit-text-stroke: 2px #d6f4f4;
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 5rem;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 1.5px 1.5px 0px #07bccc,
    3px 3px 0px #e601c0,
    5px 5px 0px #e9019a,
    7px 7px 0px #f40468,
    15px 15px 10px #482896;
    cursor: pointer;
    }
    h1:hover{
    -webkit-text-stroke: 3px #d6f4f4;
    color: black;
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
    }
    div{
    margin-top: 15%;
    }
    .glow-on-hover {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
    .glow-on-hover:before {
    content: "";
    background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    }
    .glow-on-hover:active {
    color: #000
    }
    .glow-on-hover:active:after {
    background: transparent;
    }
    .glow-on-hover:hover:before {
    opacity: 1;
    }
    .glow-on-hover:hover:after {
    opacity: 0;
    }
    .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
    }
    @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
    }
    @keyframes glowing-button-85 {
    0% {
    background-position: 0 0;
    }
    50% {
    background-position: 400% 0;
    }
    100% {
    background-position: 0 0;
    }
    }
div
  h1 Poker Buddies
  a(href='/joinSession')
    button.glow-on-hover(type='button') Play
  a(href='/login')
    button#login.glow-on-hover(type='button') Login
