extends layout

block content

    template#message-content
        span.sender
        span.content

    #chat
        #messages
        #send
            input(type="text" id="message")

block footer
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/chat.js") 